@page "/items"
@using Taller3.Models
@inject HttpClient Http
@using Taller3.Services

<h3>Lista de items</h3>

@if (Items != null)

{

     <p>Cargando...</p>
}

else
{
  <div>
        @foreach (var item in items)
        {
            Pokemon pokemonItem = new Pokemon { Nombre = item.Title };

            <ItemCard Pokemon="pokemonItem" />
        }
    </div> 
}

@code {
    private List<Item> Items;

    protected override async Task OnInitializedAsync()
    {
        Items = await Http.GetFromJsonAsync<List<Item>>("https://jsonplaceholder.typicode.com/posts");
    }
}

